<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.card.learn.mapper.SysRoleMapper">

    <select id="selectPageByCondition" resultType="com.card.learn.entity.SysRole">
        SELECT * FROM sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                AND role_name LIKE CONCAT('%', #{roleName}, '%')
            </if>
        </where>
        ORDER BY create_time ASC
    </select>

</mapper>
