# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Git
.git/
.gitignore

# Logs
logs/
*.log

# OS
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
*.md
*.txt