# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/
.vscode/
*.iml

# Git
.git/
.gitignore

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
*.md
.env*